<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <provider
            android:authorities="com.facebook.katana.provider.PlatformProvider"
            android:exported="false" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PMWinner"
        android:usesCleartextTraffic="true"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">
        <activity
            android:name=".wBrazil.BrazilActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:exported="false">
        </activity>
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:exported="false">
        </activity>
        <activity
            android:name=".DiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameTrueActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wBrazil.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/brazil" />
        </provider>
    </application>

</manifest>